/*
  CSS File
*/


/*******************************
MenuBar
*******************************/

ul.MenuBar {
  background: rgb(121, 47, 181);
  background: linear-gradient(90deg, rgba(121, 47, 181, 1) 0%,
      rgba(246, 71, 111, 1) 26%, rgba(67, 94, 248, 1) 78%, rgba(69, 223, 232, 1) 97%,
      rgba(186, 69, 232, 1) 98%, rgba(69, 196, 235, 1) 100%,
      rgba(70, 252, 228, 0.009307946811537127) 100%);
  margin: 0px;
  padding: 30px;
  color: black;
  list-style: none;

  /* Add display flex to make it a flex object */
  display: flex;

  /* Add the flex direction */
  flex-direction: row;

  /* Add flex wrap to let them wrap */
  flex-wrap: wrap;

  /* Add Justify content and experiment with the different options */
  justify-content: space-between;
}

/* You don't need to change anything in here */
ul.MenuBar>li {
  border-radius: 10px;
  padding: 10px;
  background-color: #eee;
}

/* You don't need to change anything in here */
ul.MenuBar>li a {
  color: #eee;
  text-decoration: none;
}


/*
 Targeting  the
  footer directly. Padding to the top and bottom (nothing on the side)
  and setting the background and text colours.
*/
footer {
  padding: 30px 20px;
  background-color: #1d3557;
  color: #f1faee;
}

.footer--nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 30px;

  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.footer--nav ul li a {
  font-weight: 900;
  color: #f1faee;
  text-decoration: underline;
}

/*
  margin-left auto
  positioning trick to push
  the element to the right
*/
.footer--nav--push {
  margin-left: auto;
}

/****************************/

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1faee;
  min-height: 100%;
  min-width: 100%;
}

/****** Screen reader text *******/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}